.container {
	max-width: 1000px;
}

.nav-pills>li {
	margin-top: 5px;
}

.nav {
	font-weight: bold;
}

.nav>li>a {
	/*margin: 10px 15px 0px 15px;*/
	font-size: 15px;
	color: #000000;
}

.home {
	background-repeat: no-repeat;
	background-position: center;
	height: 340px;
	z-index: -1;
}

.col-md-4.uni-logo>img {
	height: 160px;
	width: 320px;
}

.col-md-4>h1 {
	font-size: 26px;
	font-weight: bold;
}

.col-md-4>h2 {
	margin-top: -1px;
	font-size: 18px;
	color: #545454;
}

.col-md-8{
	padding: 0;
}

.container.profile {
	text-align: left;
	margin-top: -105px;
	height: 280px;
}

.container.course {
	margin-top: -160px;
}

.panel.panel-info {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: auto;
}

.override.ul {
	padding-left: 25px;
	font-size: 16px;
}

.footer {
	width: 100%;
	background-color: #3f3f3f;
	height: 160px;
	color: #7f7f7f;
	position: absolute;
}

.row.contact1 {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	font-size: 17px;
}

.row.contact2 {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
}

#social {
	text-align: right;
}

#copyright {
	text-align: right;
}

#social>a {
	padding: 6px;
}